<!DOCTYPE html>
<html>
{{>head title=this.title subpage='ATN SHOP' }}

<body>
    {{>header  title=this.title}}

<span class="link">Trang chu - thong tin chi tiet - GĂNG TAY KHỦNG LONG (ANIMAL HEAD PUPPET)</span>
<h2>THÔNG TIN SẢN PHẨM </h2>

<table >
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>
            <div class="card card-product mb-3">
            <img class="card-img-top" src="product1.jpg" alt="Card image cap">
            </div>
        </td>
    <td> 
        <h3>GĂNG TAY KHỦNG LONG (ANIMAL HEAD PUPPET)<h3>
        <div class="style__StyledProductPrice-sc-15mbtqi-0 hJdJUx"><div class="product-price">
        <span class="product-price__current-price">268.000 ₫</span>
        </div></div>
        <br><a href="giohang.html" class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Mua hàng</a><br>
        <span class="product1" style="color:red">Tư vấn & Mua hàng - Gọi 0908650659 </p>
        <span class="product-name">
            <p style="font-size: 15px; color: blue;">Giao hàng ngay trong 1 tiếng (nội thành Tp.HCM) FREE Ship tới 30k cho đơn hàng trên 500k</p>
            <p style="font-size: 15px; color: blue;">Giao hàng trong 1-3 ngày (Toàn Quốc) FREE Ship một phần cho đơn hàng chuyển khoản trước</p>
            <p style="font-size: 15px; color:blue;">Thu tiền tận nơi COD, nhiều hình thức thanh toán</p>
            <p style="font-size: 15px; color: blue;">Hỗ trợ kĩ thuật trọn đời</p>
        </span>
        </td>
  </tr>

</table>
<h2>THÔNG TIN CHI TIẾT </h2>
<div class=" table1">
<table style="width:40%">
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr><td>Kích thước </td><td>32 cm x 13 cm, 18cm x 15 cm </td></tr>
    <tr> <td>Chất liệu  </td> <td> Cao su  </td> </tr>
</table>
</div>
<h2>ĐẶC ĐIỂM NỔI BẬT  </h2>
<div class=" table1">
<table style="width:40%">
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>Găng tay khủng long với thiết kế tinh tế hệt như thật, dùng để kể chuyện, chơi đùa cùng bé hoặc chơi cùng bạn bè thì còn gì bằng. 
Ngoài ra tại ATNSHOP.VN còn rất nhiều sản phẩm đồ chơi để bàn làm việc - thư giản giảm stress </td>
</table>
</div>


    {{>footer}}
</body>

</html>